


#infoCar1 {

	position: absolute;
	top: 150px;
	left: 300px;
	width: 130px;
	height: 120px;
	border: 2px solid white;
	background-color: #4a4c71;
	padding: 12px 12px 12px 12px;
	font-family: arial;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

#infoCar1 span {
	color: white;
}

#infoCar1 h2 {
	color: #111;
	font-size: 100%;
	display: table-cell;
	width: 130px;
	height: 20px;
	vertical-align:top;
	text-align: left;
}


#infoCar2 {

	position: absolute;
	top: 150px;
	left: 930px;
	width: 130px;
	height: 120px;
	border: 2px solid white;
	background-color: #be4251;
	padding: 12px 12px 12px 12px;
	font-family: arial;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

#infoCar2 span {
	color: white;
}

#infoCar2 h2 {
	color: #111;
	font-size: 95%;
	display: table-cell;
	width: 130px;
	height: 20px;
	vertical-align:top;
	text-align: left;
}

#infoCar1Logo  img {
	position: absolute;
	top: 80px;
	left: 340px;
	width: 80px;
	height: 80:px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	border: 2px solid #4a4c71;
}

#infoCar2Logo  img {
	position: absolute;
	top: 80px;
	left: 970px;
	width: 80px;
	height: 80:px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	border: 2px solid #be4251;
}


#title {
	position: absolute;
	top: 30px;
	left: 515px;
	width: 350px;
	height: 140px;
	border: 2px solid white;
	background-color: #eee;
	border: 2px solid green;
	
	padding: 4px 4px 4px 4px;
	font-family: arial;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;

}

#title h1 {
	color: green;
	text-align: center;
	background-color: #eee;
}

#title h2 {
	color: green;
	text-align: center;
	background-color: #eee;
	font-size:95%;
}

#versus {
	position: absolute;
	top: 170px;
	left: 660px;
	width: 50px;
	height: 50px;
	border: 2px solid green;
	background-color: #eee;
	padding: 0px 0px 0px 0px;
	font-family: arial;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

#versus h1{
	color: green;
	display:table-cell;
	width: 50px;
	height: 50px;
	vertical-align:middle;
	text-align: center;
}

#instructions {
	position: absolute;
	top: 665px;
	left: 620px;
	width: 350px;
	height: 50px;
}

#instructions span {
	color: #4b4;
	font-size: 10pt;
	font-family: helvetica, arial, sans-serif;
}
